* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  font-family: sans-serif;
}

main{
  width: 80%;
  height: 80vh;
  max-width: 800px;
  background-color: #F5F5F5;
  margin: 10vh auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.die--container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  place-items: center;
}

.die{
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all .2s;
  padding: 8px;
}

.die--fix{
  background-color: #59E391;
  animation: fadeIn .2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* .die--text{
  color: #2B283A;
  font-weight: 700;
  font-size: 1.5rem;
} */

.dot{
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color:black;
}

.die--face1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.die--face2{
  display: flex;   
  justify-content : space-between;
  height: 100%;
}

.die--face2 .dot:nth-of-type(2){
  align-self: flex-end;
}

.die--face3{
  display: flex;   
  justify-content : space-between;
  height: 100%;
}

.die--face3 .dot:nth-of-type(2){
  align-self: center;
}

.die--face3 .dot:nth-of-type(3){
  align-self: flex-end;
}

.die--face4{
  position: relative;
  height: 100%;
}

.die--face4 .dot:nth-of-type(2){
  position: absolute;
  right: 0px;
  top: 0px;
}
.die--face4 .dot:nth-of-type(3){
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.die--face4 .dot:nth-of-type(4){
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.die--face5{
  position: relative;
  height: 100%;
}

.die--face6 .dot:nth-of-type(2){
  position: absolute;
  right: 0px;
  top: 0px;
}
.die--face6 .dot:nth-of-type(3){
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.die--face6 .dot:nth-of-type(4){
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.die--face6 .dot:nth-of-type(5){
  position: absolute;
  left: 0px;
  top: calc(50% - 3.5px);
}
.die--face6 .dot:nth-of-type(6){
  position: absolute;
  right: 0px;
  top: calc(50% - 3.5px);
}

.die--face6{
  position: relative;
  height: 100%;
}
.die--face5 .dot:nth-of-type(2){
  position: absolute;
  right: 0px;
  top: 0px;
}
.die--face5 .dot:nth-of-type(3){
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.die--face5 .dot:nth-of-type(4){
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.die--face5 .dot:nth-of-type(5){
  position: absolute;
  left: calc(50% - 3.5px);
  top: calc(50% - 3.5px);
}




.roll{
  margin-top: 25px;
  width: 30%;
  height: 3rem;
  font-size: 1.5rem;
  background-color: #5035FF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #FFFFFF;
  transition: all .5s;
}

.roll:hover{
  transition: all .5s;
  background-color: #442dd5;
}

.tenzies{
  text-align: center;
  padding: 0px 45px;
}
.tenzies>h1{
  color: #2B283A;
  margin-bottom: 0px;
}

.tenzies>p{
  color: #4A4E74;
  font-size: 1.25rem;
  margin-top: 10px;
}

.tenzies--won{
  text-align: center;
  color: #2B283A;
}

.fa-arrow-rotate-right{
  font-size: 2rem;
  color: #5035FF;
  cursor: pointer;
  transition: transform .8s ease-in-out;
}
.fa-arrow-rotate-right:hover{
  transform: rotate(270deg);
}